# Phone Dataset Analysis

## Import Used Library

Pandas library ("import pandas as pd"): For reading, cleaning and analyzing data.

In [1]:
import pandas as pd

## Data Wrangling

### Gathering Data

Calling data from a github link containing the dataset "phone_dataset_raw.csv" and placing it inside "dataset_df".

In [2]:
dataset_df = pd.read_csv("../Data/phone_dataset_raw.csv")

Reading the first five data stored in "dataset_df".

In [3]:
dataset_df.head()

,id,brand,name,image,release_date,resolution,weight,os,chipset,memory,...,main_camera_1,main_camera_2,main_camera_3,selfie_camera,earphone_jack,battery,charging,colors,nfc,price
0,1,Oppo,Oppo Reno 11 Pro,https://image.oppo.com/content/dam/oppo/common...,18/01/2023,1080x2412,181.0,Android 14,Mediatek Dimensity 8200,512,...,50,32.0,8.0,32,True,4600,80.0,Pearl White; Rock Grey,True,8999000
1,2,Oppo,Oppo Reno 11,https://image.oppo.com/content/dam/oppo/common...,25/01/2024,1080x2412,182.0,Android 14,Mediatek Dimensity 7050,256,...,50,32.0,8.0,32,False,5000,67.0,Wave Green; Rock Grey,True,5999000
2,3,Oppo,Oppo Reno 11F,https://fdn2.gsmarena.com/vv/bigpic/oppo-reno1...,08/02/2024,1080x2412,177.0,Android 14,Mediatek Dimensity 7050,256,...,64,8.0,2.0,32,False,5000,67.0,Palm Green; Ocean Blue; Coral Purple,True,4499000
3,4,Oppo,Oppo Reno 10,https://image.oppo.com/content/dam/oppo/common...,15/07/2023,1080x2412,185.0,Android 13,Mediatek Dimensity 7050,256,...,64,32.0,8.0,32,False,5000,67.0,Silvery Grey; Ice Blue,True,5499000
4,5,Oppo,Oppo Reno 10 Pro,https://fdn2.gsmarena.com/vv/bigpic/oppo-reno1...,08/07/2023,1080x2412,185.0,Android 13,Qualcomm SM7325 Snapdragon 778G 5G,256,...,50,32.0,8.0,32,False,4600,80.0,Silvery Grey; Glossy Purple,True,8499000

### Assessing Data

Reading all data types from each column inside "dataset_df".

In [4]:
dataset_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             96 non-null     int64
 1   brand          96 non-null     object
 2   name           96 non-null     object
 3   image          96 non-null     object
 4   release_date   96 non-null     object
 5   resolution     96 non-null     object
 6   weight         96 non-null     float64
 7   os             96 non-null     object
 8   chipset        96 non-null     object
 9   memory         96 non-null     int64
 10  ram            96 non-null     int64
 11  main_camera_1  96 non-null     int64
 12  main_camera_2  94 non-null     float64
 13  main_camera_3  57 non-null     float64
 14  selfie_camera  96 non-null     int64
 15  earphone_jack  96 non-null     bool
 16  battery        96 non-null     int64
 17  charging       96 non-null     float64
 18  colors         96 non-null     object
 19  nfc            96 non-null     bool
 20  price          96 non-null     int64
dtypes: bool(2), float64(4), int64(7), object(8)
memory usage: 14.6+ KB

Checking whether there are duplicate data in "dataset_df".

In [5]:
print("The amount of duplications in the dataset: ", dataset_df.duplicated().sum())

The amount of duplications in the dataset:  0

Checking whether there is empty data in "dataset_df".

In [6]:
print("The amount of missing data in the dataset:\n", dataset_df.isna().sum())

The amount of missing data in the dataset:
 id                0
brand             0
name              0
image             0
release_date      0
resolution        0
weight            0
os                0
chipset           0
memory            0
ram               0
main_camera_1     0
main_camera_2     2
main_camera_3    39
selfie_camera     0
earphone_jack     0
battery           0
charging          0
colors            0
nfc               0
price             0
dtype: int64

Statistical check of "dataset_df" to ensure data accuracy.

In [7]:
dataset_df.describe(include="all")

,id,brand,name,image,release_date,resolution,weight,os,chipset,memory,...,main_camera_1,main_camera_2,main_camera_3,selfie_camera,earphone_jack,battery,charging,colors,nfc,price
count,96.000000,96,96,96,96,96,96.000000,96,96,96.000000,...,96.000000,94.000000,57.000000,96.000000,96,96.000000,96.000000,96,96,9.600000e+01
unique,NaN,10,96,93,67,34,NaN,14,50,NaN,...,NaN,NaN,NaN,NaN,2,NaN,NaN,86,2,NaN
top,NaN,Oppo,Oppo Reno 11 Pro,https://southeast-asia.pro.infinixmobility.com...,27/10/2022,1080x2400,NaN,Android 13,Mediatek Dimensity 7050,NaN,...,NaN,NaN,NaN,NaN,False,NaN,NaN,Black; Green; White; Gold,True,NaN
freq,NaN,15,1,2,5,23,NaN,35,5,NaN,...,NaN,NaN,NaN,NaN,55,NaN,NaN,3,83,NaN
mean,48.500000,NaN,NaN,NaN,NaN,NaN,197.385417,NaN,NaN,398.666667,...,61.604167,14.275957,9.732281,20.416667,NaN,4839.843750,47.744792,NaN,NaN,8.126707e+06
std,27.856777,NaN,NaN,NaN,NaN,NaN,39.334562,NaN,NaN,269.693419,...,40.812145,17.396596,12.779297,14.545512,NaN,705.729504,27.237937,NaN,NaN,7.054422e+06
min,1.000000,NaN,NaN,NaN,NaN,NaN,144.000000,NaN,NaN,128.000000,...,8.000000,0.080000,0.080000,4.000000,NaN,2018.000000,10.000000,NaN,NaN,1.199000e+06
25%,24.750000,NaN,NaN,NaN,NaN,NaN,185.000000,NaN,NaN,256.000000,...,50.000000,2.000000,2.000000,8.000000,NaN,4775.000000,25.000000,NaN,NaN,2.999000e+06
50%,48.500000,NaN,NaN,NaN,NaN,NaN,190.000000,NaN,NaN,256.000000,...,50.000000,8.000000,5.000000,13.000000,NaN,5000.000000,44.000000,NaN,NaN,4.999000e+06
75%,72.250000,NaN,NaN,NaN,NaN,NaN,199.250000,NaN,NaN,512.000000,...,64.000000,12.000000,12.000000,32.000000,NaN,5000.000000,67.000000,NaN,NaN,1.124900e+07
max,96.000000,NaN,NaN,NaN,NaN,NaN,538.000000,NaN,NaN,1024.000000,...,200.000000,64.000000,50.000000,60.000000,NaN,8000.000000,120.000000,NaN,NaN,3.106000e+07

### Cleaning Data

Even though it was previously stated that there was no duplicate data, as a precaution, we removed duplicate data from "dataset_df" and displayed the number of duplicate data again from "dataset_df".

In [8]:
dataset_df.drop_duplicates(inplace=True)
print("The amount of duplications in the dataset: ", dataset_df.duplicated().sum())

The amount of duplications in the dataset:  0

From the statement above, there are 41 missing data in "dataset_df" with 2 missing data in the "main_camera_2" column and 39 missing data in the "main_camera_3" column. Therefore, we fill in the value 0 for the 41 missing data in "dataset_df" and display the amount of missing data again from "dataset_df".

In [9]:
dataset_df.fillna(value=0, inplace=True)
print("The amount of missing data in the dataset:\n", dataset_df.isna().sum())

The amount of missing data in the dataset:
 id               0
brand            0
name             0
image            0
release_date     0
resolution       0
weight           0
os               0
chipset          0
memory           0
ram              0
main_camera_1    0
main_camera_2    0
main_camera_3    0
selfie_camera    0
earphone_jack    0
battery          0
charging         0
colors           0
nfc              0
price            0
dtype: int64

Changing the data type in the "release_date" column because this column is a date container column.

In [10]:
dataset_df['release_date'] = pd.to_datetime(dataset_df['release_date'])
dataset_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             96 non-null     int64
 1   brand          96 non-null     object
 2   name           96 non-null     object
 3   image          96 non-null     object
 4   release_date   96 non-null     datetime64[ns]
 5   resolution     96 non-null     object
 6   weight         96 non-null     float64
 7   os             96 non-null     object
 8   chipset        96 non-null     object
 9   memory         96 non-null     int64
 10  ram            96 non-null     int64
 11  main_camera_1  96 non-null     int64
 12  main_camera_2  96 non-null     float64
 13  main_camera_3  96 non-null     float64
 14  selfie_camera  96 non-null     int64
 15  earphone_jack  96 non-null     bool
 16  battery        96 non-null     int64
 17  charging       96 non-null     float64
 18  colors         96 non-null     object
 19  nfc            96 non-null     bool
 20  price          96 non-null     int64
dtypes: bool(2), datetime64[ns](1), float64(4), int64(7), object(7)
memory usage: 14.6+ KB

C:\Users\jason\AppData\Local\Temp\ipykernel_13228\2176268166.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  dataset_df['release_date'] = pd.to_datetime(dataset_df['release_date'])

## Exploratory Data Analysis (EDA)

Calling 5 data samples from within "dataset_df".

In [11]:
dataset_df.sample(5)

,id,brand,name,image,release_date,resolution,weight,os,chipset,memory,...,main_camera_1,main_camera_2,main_camera_3,selfie_camera,earphone_jack,battery,charging,colors,nfc,price
86,87,Xiaomi,Redmi Note 13 Pro 4G,https://i02.appmifile.com/878_item_id/19/02/20...,2024-02-28,1080x2400,188.0,Android 13,Mediatek Helio G99 Ultra,512,...,200,8.00,2.0,16,True,5000,67.0,Midnight Black; Lavender Purple; Forest Green,True,3799000
19,20,Infinix,Infinix Smart 8,https://southeast-asia.pro.infinixmobility.com...,2023-11-09,720x1612,184.0,Android 13,Unisoc T606,128,...,13,0.08,0.0,8,True,5000,10.0,Timber Black; Shiny Gold; Crystal Green; Galax...,False,1399000
17,18,Asus,Asus ROG Phone 8 Pro,https://dlcdnwebimgs.asus.com/gain/BF826D12-86...,2024-01-18,1080x2400,225.0,Android 14,Qualcomm SM8650-AB Snapdragon 8 Gen 3,1024,...,50,32.00,13.0,32,True,5500,65.0,Phantom Black,True,19999000
31,32,Samsung,Samsung Galaxy S24+,https://images.samsung.com/is/image/samsung/p6...,2024-01-24,1440x3120,196.0,Android 14,Exynos 2400,512,...,50,10.00,12.0,12,False,4900,45.0,Onyx Black; Marble Grey; Cobalt Violet; Amber ...,True,18999000
67,68,Apple,iPhone 15,https://www.apple.com/v/iphone-15/c/images/ove...,2022-10-27,1179x2556,171.0,iOS 17,Apple A16 Bionic,512,...,48,12.00,0.0,12,False,3349,20.0,Black; Blue; Green; Yellow; Pink,True,14249000

For model training data, there are several unused data columns such as "image", "release_date", "resolution", and "colors", therefore "new_dataset_df" is created which contains almost the same as "dataset_df" but these columns will be dropped.

In [12]:
new_dataset_df = dataset_df.drop(['image', 'release_date', 'resolution', 'colors'], axis=1)
new_dataset_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             96 non-null     int64
 1   brand          96 non-null     object
 2   name           96 non-null     object
 3   weight         96 non-null     float64
 4   os             96 non-null     object
 5   chipset        96 non-null     object
 6   memory         96 non-null     int64
 7   ram            96 non-null     int64
 8   main_camera_1  96 non-null     int64
 9   main_camera_2  96 non-null     float64
 10  main_camera_3  96 non-null     float64
 11  selfie_camera  96 non-null     int64
 12  earphone_jack  96 non-null     bool
 13  battery        96 non-null     int64
 14  charging       96 non-null     float64
 15  nfc            96 non-null     bool
 16  price          96 non-null     int64
dtypes: bool(2), float64(4), int64(7), object(4)
memory usage: 11.6+ KB

Statistical check of "new_dataset_df" to ensure data accuracy.

In [13]:
new_dataset_df.describe(include="all")

,id,brand,name,weight,os,chipset,memory,ram,main_camera_1,main_camera_2,main_camera_3,selfie_camera,earphone_jack,battery,charging,nfc,price
count,96.000000,96,96,96.000000,96,96,96.000000,96.000000,96.000000,96.000000,96.000000,96.000000,96,96.000000,96.000000,96,9.600000e+01
unique,NaN,10,96,NaN,14,50,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,2,NaN
top,NaN,Oppo,Oppo Reno 11 Pro,NaN,Android 13,Mediatek Dimensity 7050,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,True,NaN
freq,NaN,15,1,NaN,35,5,NaN,NaN,NaN,NaN,NaN,NaN,55,NaN,NaN,83,NaN
mean,48.500000,NaN,NaN,197.385417,NaN,NaN,398.666667,9.500000,61.604167,13.978542,5.778542,20.416667,NaN,4839.843750,47.744792,NaN,8.126707e+06
std,27.856777,NaN,NaN,39.334562,NaN,NaN,269.693419,3.565921,40.812145,17.334109,10.924950,14.545512,NaN,705.729504,27.237937,NaN,7.054422e+06
min,1.000000,NaN,NaN,144.000000,NaN,NaN,128.000000,4.000000,8.000000,0.000000,0.000000,4.000000,NaN,2018.000000,10.000000,NaN,1.199000e+06
25%,24.750000,NaN,NaN,185.000000,NaN,NaN,256.000000,8.000000,50.000000,2.000000,0.000000,8.000000,NaN,4775.000000,25.000000,NaN,2.999000e+06
50%,48.500000,NaN,NaN,190.000000,NaN,NaN,256.000000,8.000000,50.000000,8.000000,2.000000,13.000000,NaN,5000.000000,44.000000,NaN,4.999000e+06
75%,72.250000,NaN,NaN,199.250000,NaN,NaN,512.000000,12.000000,64.000000,12.000000,8.000000,32.000000,NaN,5000.000000,67.000000,NaN,1.124900e+07
max,96.000000,NaN,NaN,538.000000,NaN,NaN,1024.000000,24.000000,200.000000,64.000000,50.000000,60.000000,NaN,8000.000000,120.000000,NaN,3.106000e+07

Calling 5 data samples from within "new_dataset_df".

In [14]:
new_dataset_df.sample(5)

,id,brand,name,weight,os,chipset,memory,ram,main_camera_1,main_camera_2,main_camera_3,selfie_camera,earphone_jack,battery,charging,nfc,price
40,41,Vivo,Vivo V30e,188.0,Funtouch 14,Qualcomm SM6450 Snapdragon 6 Gen 1,256,8,50,8.0,0.0,32,False,5500,44.0,True,4999000
49,50,Vivo,Vivo V29,186.0,Funtouch 13,Qualcomm SM7325 Snapdragon 778G,512,12,50,8.0,2.0,50,False,4600,80.0,True,6999000
21,22,Infinix,Infinix GT 20 Pro,194.0,Android 14,Mediatek Dimensity 8200 Ultimate,256,12,108,2.0,2.0,32,False,5000,45.0,True,4399000
26,27,Infinix,Infinix Zero 30 5G,185.0,Android 13,Mediatek Dimensity 8020,256,12,108,13.0,2.0,50,False,5000,68.0,True,4999000
92,93,Poco,Poco F5,181.0,Android 13,Qualcomm SM7475-AB Snapdragon 7+ Gen 2,256,8,64,8.0,2.0,16,True,5000,67.0,True,4999000

Saving "dataset_df" into CSV file named 'phone_dataset_clean.csv' without including the index and "new_dataset_df" into CSV file named 'model_dataset.csv' also without including the index.

In [15]:
dataset_df.to_csv('phone_dataset_clean.csv', index=False)
new_dataset_df.to_csv('model_dataset.csv', index=False)